/// Colors
$primary-color: #404eed;
$primary-color-300: #5865f2;
$secondary-color: #23272a;

$dark-color: #1e2021;
$dark-color-300: #aaaaaa;
$dark-color-400: #828282;
$dark-color-700: #181a1b;

$white-color: #f2f2f2;
$white-color-300: #d1d1d1;

$white: #fff;
$black: #000;

$text-color: #7a7a7a;
$mid-grey: #777777;
$mid-grey2: #999999;

$secondary: #23272a;
$black: rgb(0, 0, 0, 0.9);

/////////////
$base-font: "Outfit", sans-serif;

$header-font: $base-font;
$ms-base: 1em, 0.875em;
$ms-ratio: 1.618;

// base color scheme
$body-background: #10141e;
$color_body: #fff;
$color_links: #2c2d33;
$color_border: #0000000d;
